langchain 
python-dotenv
langchain-openai
ipykernel
beautifulsoup4
langchain_community
faiss-cpu
streamlit
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
transformers
langchain-chroma
bs4
pypdf
arxiv
wikipedia
duckduckgo-search
pathlib
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr